.DatePicker_container__oXklC {
  background-color: rgb(222, 222, 222) !important;
  padding: 10px;
  border-radius: 20px !important;
}
.DatePicker_button__ejsjx {
  background-color: rgb(222, 222, 222) !important;
  color: black;
}
